<!-- plantillas/registration/login.html -->
{% extends 'base.html' %}
<!-- by: RETBOT -->
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}- Acceso{% endblock title %}
<!-- by: RETBOT -->
{% block content %}
<h1>Bienvenido</h1>
    <h2>Iniciar Sesión</h2><br>
    <form method="post">{% csrf_token %}
        {{ my_formset|crispy }}
        <input class="btn btn-success ml-2" type="submit" value="Acceder (Iniciar Sesión)" style="color: black;">
    </form>
    <br>
    <div class="social">
        <ul>
            <li class="facebook">
                <a href="{% url "social:begin" "facebook" %}">Facebook</a>
            </li>
        </ul>
    </div>
    <a href="{% url 'password_reset' %}" type="button" class="formulario__submit" style="color: black;">¿Olvido su contraseña?</a>
{% endblock content %}
<!-- by: RETBOT -->
